@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #337dac;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.form {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    color: #000;
    margin-top: 10%;
    border-radius: 5px;
}

i {
    color: #F23838;
}


img {
    width: 30%;
    padding: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color: #337dac;
}

a:hover {
    color: #F23838;
}

.horario {
    padding: 2px;
}


